Repository BatistackApp/batistack_saas: changes, and which Codecov flags are due for each by the changed paths.
All: core, accounting, articles, banque, bim, commerce, expense, fleet, ged, gpao, hr, intervention, locations, payroll, pilotage, tiers

ci: Retirer les étapes de linting, analyse statique et sécurité (develop)
  .github/workflows/module-ci.yml
  .github/workflows/security-audit.yml
Due: none

ci(env): Mise en place de la configuration de l'environnement de test
  .env.testing
Due: none

``` ci(workflow): ajuster la configuration de l'environnement pour les tests
  .github/workflows/module-ci.yml
Due: none

ci(tests): Optimiser l'exécution des tests du cœur
  .github/workflows/module-ci.yml
Due: none

``` ci(workflow): Séparer les tests Feature et Unit du cœur
  .github/workflows/module-ci.yml
Due: none

refactor(facturation): Optimiser le traitement des factures en retard
  app/Jobs/Core/CheckOverdueInvoicesJob.php
  app/Models/Core/Tenants.php
  tests/Feature/Core/CheckOverdueInvoicesJobTest.php
Due: core

fix(facturation): Corriger la détection des abonnements impayés
  app/Http/Controllers/Api/StripeWebhookController.php
  app/Jobs/Core/CheckOverdueInvoicesJob.php
  app/Services/Core/TenantProvisioningService.php
  tests/Feature/Core/CheckOverdueInvoicesJobTest.php
  tests/Feature/Core/StripeWebhookTest.php
  tests/Feature/Core/TenantProvisioningTest.php
  tests/Feature/Core/UpgradeSubscriptionTest.php
Due: core

feat(commerce): Ajouter réf. bon de livraison aux réceptions
  app/Http/Controllers/Commerce/PurchaseOrderController.php
  app/Services/Commerce/FinancialCalculatorService.php
  app/Services/Commerce/PurchaseOrderService.php
  routes/api/commerce.php
  tests/Feature/Banque/BanqueTest.php
  tests/Feature/Commerce/PurchaseOrderTest.php
  tests/Feature/Commerce/QuoteTest.php
Due: banque, commerce

update core
  package-lock.json
Due: none

refactor(core): Amélioration des calculs de flotte et de l'observateur commerce
  app/Http/Controllers/Fleet/FleetAnalyticsController.php
  app/Jobs/Fleet/CheckVehicleComplianceJob.php
  app/Observers/Commerce/PurchaseOrderItemObserver.php
  app/Services/Fleet/FleetAnalyticsService.php
  routes/web.php
  tests/Feature/Commerce/PurchaseOrderTest.php
  tests/Feature/Commerce/QuoteTest.php
  tests/Feature/Fleet/FleetComplianceTest.php
  tests/Feature/Fleet/FleetTest.php
Due: commerce, fleet

feat(fleet-maintenance): Améliore la clôture d'intervention et la réponse API
  app/Http/Controllers/Fleet/MaintenanceController.php
  app/Services/Fleet/FleetMaintenanceService.php
  tests/Feature/Fleet/MaintenanceTest.php
  tests/Feature/Fleet/VehicleCheckTest.php
Due: fleet

test: Ajouter la suppression explicite de document dans test GED
  tests/Feature/GED/DocumentTest.php
Due: ged

test: Ajouter la suppression explicite de document dans test GED
  app/Observers/GPAO/WorkOrderObserver.php
  app/Services/GPAO/ProductionValuationService.php
  database/migrations/2026_02_19_165913_add_field_to_stock_movements_table.php
  tests/Feature/GPAO/WorkOrderTest.php
Due: gpao

feat(gpao): Intégrer les ouvrages et la gestion des stocks
  app/Models/Articles/Ouvrage.php
  app/Models/Articles/StockMovement.php
  database/migrations/2026_02_19_165913_add_field_to_stock_movements_table.php
  tests/Feature/GPAO/WorkOrderTest.php
Due: articles, gpao

feat(gestion-temps): Ajoute la valorisation et vérification des entrées
  app/Models/HR/TimeEntry.php
  app/Observers/Core/TenantsObserver.php
  database/migrations/2026_02_19_165913_add_field_to_stock_movements_table.php
  tests/Feature/HR/TimeEntryTest.php
Due: core, hr

feat(gestion-temps): Ajoute la valorisation et vérification des entrées
  app/Models/Intervention/Intervention.php
  app/Services/Intervention/InterventionWorkflowService.php
  tests/Feature/Intervention/InterventionTest.php
Due: intervention

refactor(tests): Améliore les tests et les messages de conformité
  app/Services/Intervention/InterventionWorkflowService.php
  tests/Feature/Intervention/InterventionTest.php
  tests/Feature/Locations/RentalTest.php
Due: intervention, locations

refactor(routes): Renommer le paramètre de route 'payrollPeriod'
  routes/api/payroll.php
  tests/Feature/Payroll/PayrollWorkflowTest.php
Due: payroll

fix(calcul-location): Inclure le jour de fin dans le décompte des jours
  app/Services/Locations/RentalCalculationService.php
Due: locations

fix(paie): Valider les requêtes de clôture de période
  app/Http/Controllers/Payroll/PayrollPeriodController.php
  routes/api/payroll.php
  tests/Feature/Payroll/PayrollWorkflowTest.php
Due: payroll

refactor(pilotage): Renommer le paramètre de route pour l'historique des indicateurs
  routes/api/pilotage.php
Due: pilotage

feat(tiers): Génération du code tiers basée sur le type
  app/Notifications/Projects/ProjectSuspendedNotification.php
  app/Observers/Tiers/TierObserver.php
  app/Services/Projects/ProjectBudgetService.php
  app/Services/Tiers/TierCodeGenerator.php
  app/Services/Tiers/TierComplianceService.php
  tests/Feature/Projects/ServicesTest.php
  tests/Feature/Tiers/TiersTest.php
Due: tiers

refactor(tests): Nettoyage majeur de la suite de tests
  app/Http/Controllers/HR/EmployeeController.php
  app/Services/HR/EmployeeService.php
  tests/Feature/Auth/AuthenticationTest.php
  tests/Feature/Auth/EmailVerificationTest.php
  tests/Feature/Auth/PasswordConfirmationTest.php
  tests/Feature/Auth/PasswordResetTest.php
  tests/Feature/Auth/RegistrationTest.php
  tests/Feature/Auth/TwoFactorChallengeTest.php
  tests/Feature/Commerce/QuoteTest.php
  tests/Feature/Core/TenantObserverTest.php
  tests/Feature/DashboardTest.php
  tests/Feature/ExampleTest.php
  tests/Feature/GPAO/WorkOrderTest.php
  tests/Feature/HR/HumanResourcesTest.php
  tests/Feature/Settings/PasswordUpdateTest.php
  tests/Feature/Settings/ProfileUpdateTest.php
  tests/Feature/Settings/TwoFactorAuthenticationTest.php
Due: core, commerce, gpao, hr

refactor: Nettoyage du code et amélioration du style
  app/Http/Controllers/Fleet/FleetAnalyticsController.php
  app/Observers/Core/TenantsObserver.php
  app/Services/Locations/RentalCalculationService.php
  app/Services/Projects/ProjectBudgetService.php
  app/Services/Tiers/TierCodeGenerator.php
  database/migrations/2026_02_19_165913_add_field_to_stock_movements_table.php
  tests/Feature/Core/TenantObserverTest.php
  tests/Feature/Fleet/FleetComplianceTest.php
  tests/Feature/Fleet/FleetTest.php
  tests/Feature/HR/TimeEntryTest.php
  tests/Feature/Payroll/PayrollWorkflowTest.php
  tests/Feature/Tiers/TiersTest.php
Due: core, fleet, hr, locations, payroll, tiers

fix(fleet): Corriger le calcul de la distance parcourue
  app/Services/Fleet/FleetAnalyticsService.php
  routes/web.php
Due: fleet

feat(ged): Réorganiser et enrichir les types de documents
  app/Enums/GED/DocumentType.php
  lang/fr/ged.php
Due: ged

feat(ged): Introduction des types, statuts et validation (develop)
  .github/ameliorations/ged.md
  app/Enums/GED/DocumentStatus.php
  app/Enums/GED/DocumentType.php
  app/Models/GED/Document.php
  database/factories/GED/DocumentFactory.php
  database/factories/GED/DocumentFolderFactory.php
  database/migrations/2026_02_21_113844_add_field_to_document_module.php
  lang/fr/ged.php
Due: ged

feat(ged): Implémenter la gestion des documents, le versioning et la validation
  app/Services/GED/GEDService.php
  app/Services/GED/QuotaService.php
Due: ged

feat(ged): Ajout des notifications d'expiration et refonte miniature
  app/Console/Commands/GED/CheckExpiringDocumentsCommand.php
  app/Jobs/GED/GenerateThumbnailJob.php
  app/Notifications/GED/DocumentExpiringNotification.php
  app/Observers/GED/DocumentObserver.php
  app/Providers/GED.php
Due: ged

feat(ged): Enregistrer le fournisseur de service GED
  bootstrap/providers.php
  lang/en/actions.php
  lang/en/auth.php
  lang/en/http-statuses.php
  lang/en/pagination.php
  lang/en/passwords.php
  lang/en/validation.php
  lang/fr/actions.php
  lang/fr/auth.php
  lang/fr/http-statuses.php
  lang/fr/pagination.php
  lang/fr/passwords.php
  lang/fr/validation.php
Due: none

feat(ged): Refonte de l'API et ajout de fonctionnalités
  app/Http/Controllers/GED/DocumentController.php
  app/Http/Requests/GED/BulkActionRequest.php
  app/Http/Requests/GED/StoreDocumentRequest.php
  app/Http/Requests/GED/StoreFolderRequest.php
  app/Http/Requests/GED/UpdateDocumentRequest.php
  database/factories/GED/DocumentFactory.php
  routes/api/ged.php
  tests/Feature/GED/DocumentTest.php
Due: ged

linter
  app/Enums/GED/DocumentStatus.php
  app/Enums/GED/DocumentType.php
  app/Http/Controllers/GED/DocumentController.php
  app/Jobs/GED/GenerateThumbnailJob.php
  app/Notifications/GED/DocumentExpiringNotification.php
  app/Providers/GED.php
  app/Services/GED/GEDService.php
  database/factories/GED/DocumentFactory.php
  database/factories/GED/DocumentFolderFactory.php
  database/migrations/2026_02_21_113844_add_field_to_document_module.php
  lang/en/actions.php
  lang/en/auth.php
  lang/en/http-statuses.php
  lang/en/pagination.php
  lang/en/passwords.php
  lang/en/validation.php
  lang/fr/actions.php
  lang/fr/auth.php
  lang/fr/ged.php
  lang/fr/http-statuses.php
  lang/fr/pagination.php
  lang/fr/passwords.php
  lang/fr/validation.php
  tests/Feature/GED/DocumentTest.php
Due: ged

ci(workflow): Sépare l'exécution des tests unitaires et fonctionnels
  .github/workflows/module-ci.yml
Due: none

feat(ged): Améliore les alertes d'expiration et l'API de gestion
  app/Console/Commands/GED/CheckExpiringDocumentsCommand.php
  app/Http/Controllers/GED/DocumentController.php
  database/migrations/2026_02_21_113844_add_field_to_document_module.php
Due: ged

linter
  app/Console/Commands/GED/CheckExpiringDocumentsCommand.php
  app/Http/Controllers/GED/DocumentController.php
Due: ged

refactor(GED(expiration)): Utiliser l'enum DocumentStatus
  app/Console/Commands/GED/CheckExpiringDocumentsCommand.php
Due: ged

File
  .github/ameliorations/locations.md
Due: none

feat(locations): Améliore les contrats et ajoute les affectations (#38)
  app/Enums/Locations/RentalStatus.php
  app/Models/Locations/RentalAssignment.php
  app/Models/Locations/RentalContract.php
  database/factories/Locations/RentalAssignmentFactory.php
  database/migrations/2026_02_21_145400_edit_field_location_module.php
  database/migrations/2026_02_21_145648_create_rental_assignments_table.php
  lang/fr/locations.php
Due: locations

feat(locations): Gère les affectations et flux de reprise/transfert (#38)
  app/Models/Locations/RentalContract.php
  app/Services/Locations/RentalCalculationService.php
  app/Services/Locations/RentalCostImputationService.php
  app/Services/Locations/RentalWorkflowService.php
Due: locations

Path conditions:
  core: any of: app/Console/Commands/Core/, app/Enums/Core/, app/Exceptions/Core/, app/Http/Controllers/Core/, app/Http/Middleware/Core/, app/Http/Requests/Core/, app/Jobs/Core/, app/Mail/Core/, app/Models/Core/, app/Models/User.php, app/Notifications/Core/, app/Observers/Core/, app/Providers/CoreServiceProvider.php, app/Providers/AppServiceProvider.php, app/Rules/Core/, app/Services/Core/, app/Traits/HasTenant.php, database/factories/Core/, lang/fr/core.php, routes/api/api.php, tests/Unit/Core/, tests/Feature/Core/
  accounting: any of: app/Console/Commands/Accounting/, app/Enums/Accounting/, app/Exceptions/Accounting/, app/Http/Controllers/Accounting/, app/Http/Middleware/Accounting/, app/Http/Requests/Accounting/, app/Jobs/Accounting/, app/Mail/Accounting/, app/Models/Accounting/, app/Notifications/Accounting/, app/Observers/Accounting/, app/Providers/AccountingServiceProvider.php, app/Rules/Accounting/, app/Services/Accounting/, database/factories/Accounting/, lang/fr/accounting.php, routes/api/accounting.php, tests/Unit/Accounting/, tests/Feature/Accounting/
  articles: any of: app/Console/Commands/Articles/, app/Enums/Articles/, app/Exceptions/Articles/, app/Http/Controllers/Articles/, app/Http/Middleware/Articles/, app/Http/Requests/Articles/, app/Jobs/Articles/, app/Mail/Articles/, app/Models/Articles/, app/Notifications/Articles/, app/Observers/Articles/, app/Providers/ArticlesServiceProvider.php, app/Rules/Articles/, app/Services/Articles/, database/factories/Articles/, lang/fr/articles.php, routes/api/articles.php, tests/Unit/Articles/, tests/Feature/Articles/
  banque: any of: app/Console/Commands/Banque/, app/Enums/Banque/, app/Exceptions/Banque/, app/Http/Controllers/Banque/, app/Http/Middleware/Banque/, app/Http/Requests/Banque/, app/Jobs/Banque/, app/Mail/Banque/, app/Models/Banque/, app/Notifications/Banque/, app/Observers/Banque/, app/Providers/BankServiceProvider.php, app/Rules/Banque/, app/Services/Banque/, database/factories/Banque/, lang/fr/banque.php, routes/api/banque.php, tests/Unit/Banque/, tests/Feature/Banque/
  bim: any of: app/Console/Commands/BIM/, app/Enums/BIM/, app/Exceptions/BIM/, app/Http/Controllers/BIM/, app/Http/Middleware/BIM/, app/Http/Requests/BIM/, app/Jobs/BIM/, app/Mail/BIM/, app/Models/BIM/, app/Notifications/BIM/, app/Observers/BIM/, app/Providers/BIMServiceProvider.php, app/Rules/BIM/, app/Services/BIM/, database/factories/BIM/, lang/fr/bim.php, routes/api/bim.php, tests/Unit/BIM/, tests/Feature/BIM/
  commerce: any of: app/Console/Commands/Commerce/, app/Enums/Commerce/, app/Exceptions/Commerce/, app/Http/Controllers/Commerce/, app/Http/Middleware/Commerce/, app/Http/Requests/Commerce/, app/Jobs/Commerce/, app/Mail/Commerce/, app/Models/Commerce/, app/Notifications/Commerce/, app/Observers/Commerce/, app/Providers/CommerceServiceProvider.php, app/Rules/Commerce/, app/Services/Commerce/, database/factories/Commerce/, lang/fr/commerce.php, routes/api/commerce.php, tests/Unit/Commerce/, tests/Feature/Commerce/
  expense: any of: app/Console/Commands/Expense/, app/Enums/Expense/, app/Exceptions/Expense/, app/Http/Controllers/Expense/, app/Http/Middleware/Expense/, app/Http/Requests/Expense/, app/Jobs/Expense/, app/Mail/Expense/, app/Models/Expense/, app/Notifications/Expense/, app/Observers/Expense/, app/Providers/ExpenseServiceProvider.php, app/Rules/Expense/, app/Services/Expense/, database/factories/Expense/, lang/fr/expense.php, routes/api/expense.php, tests/Unit/Expense/, tests/Feature/Expense/
  fleet: any of: app/Console/Commands/Fleet/, app/Enums/Fleet/, app/Exceptions/Fleet/, app/Http/Controllers/Fleet/, app/Http/Middleware/Fleet/, app/Http/Requests/Fleet/, app/Jobs/Fleet/, app/Mail/Fleet/, app/Models/Fleet/, app/Notifications/Fleet/, app/Observers/Fleet/, app/Providers/FleetServiceProvider.php, app/Rules/Fleet/, app/Services/Fleet/, database/factories/Fleet/, lang/fr/fleet.php, routes/api/fleet.php, tests/Unit/Fleet/, tests/Feature/Fleet/
  ged: any of: app/Console/Commands/GED/, app/Enums/GED/, app/Exceptions/GED/, app/Http/Controllers/GED/, app/Http/Middleware/GED/, app/Http/Requests/GED/, app/Jobs/GED/, app/Mail/GED/, app/Models/GED/, app/Notifications/GED/, app/Observers/GED/, app/Providers/GEDServiceProvider.php, app/Rules/GED/, app/Services/GED/, database/factories/GED/, lang/fr/ged.php, routes/api/ged.php, tests/Unit/GED/, tests/Feature/GED/
  gpao: any of: app/Console/Commands/GPAO/, app/Enums/GPAO/, app/Exceptions/GPAO/, app/Http/Controllers/GPAO/, app/Http/Middleware/GPAO/, app/Http/Requests/GPAO/, app/Jobs/GPAO/, app/Mail/GPAO/, app/Models/GPAO/, app/Notifications/GPAO/, app/Observers/GPAO/, app/Providers/GPAOServiceProvider.php, app/Rules/GPAO/, app/Services/GPAO/, database/factories/GPAO/, lang/fr/gpao.php, routes/api/gpao.php, tests/Unit/GPAO/, tests/Feature/GPAO/
  hr: any of: app/Console/Commands/HR/, app/Enums/HR/, app/Exceptions/HR/, app/Http/Controllers/HR/, app/Http/Middleware/HR/, app/Http/Requests/HR/, app/Jobs/HR/, app/Mail/HR/, app/Models/HR/, app/Notifications/HR/, app/Observers/HR/, app/Providers/HumanResourceServiceProvider.php, app/Rules/HR/, app/Services/HR/, database/factories/HR/, lang/fr/hr.php, routes/api/hr.php, tests/Unit/HR/, tests/Feature/HR/
  intervention: any of: app/Console/Commands/Intervention/, app/Enums/Intervention/, app/Exceptions/Intervention/, app/Http/Controllers/Intervention/, app/Http/Middleware/Intervention/, app/Http/Requests/Intervention/, app/Jobs/Intervention/, app/Mail/Intervention/, app/Models/Intervention/, app/Notifications/Intervention/, app/Observers/Intervention/, app/Providers/InterventionServiceProvider.php, app/Rules/Intervention/, app/Services/Intervention/, database/factories/Intervention/, lang/fr/intervention.php, routes/api/intervention.php, tests/Unit/Intervention/, tests/Feature/Intervention/
  locations: any of: app/Console/Commands/Locations/, app/Enums/Locations/, app/Exceptions/Locations/, app/Http/Controllers/Locations/, app/Http/Middleware/Locations/, app/Http/Requests/Locations/, app/Jobs/Locations/, app/Mail/Locations/, app/Models/Locations/, app/Notifications/Locations/, app/Observers/Locations/, app/Providers/AccountingServiceProvider.php, app/Rules/Locations/, app/Services/Locations/, database/factories/Locations/, lang/fr/locations.php, routes/api/locations.php, tests/Unit/Locations/, tests/Feature/Locations/
  payroll: any of: app/Console/Commands/Payroll/, app/Enums/Payroll/, app/Exceptions/Payroll/, app/Http/Controllers/Payroll/, app/Http/Middleware/Payroll/, app/Http/Requests/Payroll/, app/Jobs/Payroll/, app/Mail/Payroll/, app/Models/Payroll/, app/Notifications/Payroll/, app/Observers/Payroll/, app/Providers/PayrollServiceProvider.php, app/Rules/Payroll/, app/Services/Payroll/, database/factories/Payroll/, lang/fr/payroll.php, routes/api/payroll.php, tests/Unit/Payroll/, tests/Feature/Payroll/
  pilotage: any of: app/Console/Commands/Pilotage/, app/Enums/Pilotage/, app/Exceptions/Pilotage/, app/Http/Controllers/Pilotage/, app/Http/Middleware/Pilotage/, app/Http/Requests/Pilotage/, app/Jobs/Pilotage/, app/Mail/Pilotage/, app/Models/Pilotage/, app/Notifications/Pilotage/, app/Observers/Pilotage/, app/Providers/PilotageServiceProvider.php, app/Rules/Pilotage/, app/Services/Pilotage/, database/factories/Pilotage/, lang/fr/pilotage.php, routes/api/pilotage.php, tests/Unit/Pilotage/, tests/Feature/Pilotage/
  tiers: any of: app/Console/Commands/Tiers/, app/Enums/Tiers/, app/Exceptions/Tiers/, app/Http/Controllers/Tiers/, app/Http/Middleware/Tiers/, app/Http/Requests/Tiers/, app/Jobs/Tiers/, app/Mail/Tiers/, app/Models/Tiers/, app/Notifications/Tiers/, app/Observers/Tiers/, app/Providers/TiersServiceProvider.php, app/Rules/Tiers/, app/Services/Tiers/, database/factories/Tiers/, lang/fr/tiers.php, routes/api/tiers.php, tests/Unit/Tiers/, tests/Feature/Tiers/
