Repository BatistackApp/batistack_saas: changes, and which Codecov flags are due for each by the changed paths.
All: core, accounting, articles, banque, bim, commerce, expense, fleet, ged, gpao, hr, intervention, locations, payroll, pilotage, tiers

feat(locations): Amélioration de la gestion des contrats et alertes (#38)
  app/Console/Commands/Locations/CheckExpiringRentalsCommand.php
  app/Jobs/Locations/DailyRentalImputationJob.php
  app/Notifications/Locations/RentalContractEndingSoonNotification.php
  app/Observers/Locations/RentalContractObserver.php
  app/Providers/LocationsServiceProvider.php
Due: locations

feat(locations): Améliore le workflow et la gestion des états des lieux (#38)
  app/Http/Controllers/Locations/RentalContractController.php
  app/Http/Controllers/Locations/RentalInspectionController.php
  app/Http/Controllers/Locations/RentalStatusController.php
  app/Http/Requests/Locations/StoreRentalContractRequest.php
  app/Http/Requests/Locations/StoreRentalInspectionRequest.php
  app/Http/Requests/Locations/StoreRentalItemRequest.php
  app/Http/Requests/Locations/UpdateRentalContractRequest.php
  app/Http/Requests/Locations/UpdateRentalStatusRequest.php
  app/Models/Locations/RentalInspection.php
  app/Services/Locations/RentalWorkflowService.php
  routes/api/locations.php
Due: locations

feat(locations): Amélioration du workflow et de l'imputation des loyers (#38)
  app/Models/Tiers/Tiers.php
  app/Services/Locations/RentalCostImputationService.php
  tests/Feature/Locations/RentalTest.php
Due: locations, tiers

feat(locations): Valider phase projet par projet et ajuster contrat (38)
  app/Http/Requests/Locations/StoreRentalContractRequest.php
  app/Models/Locations/RentalContract.php
Due: locations

linter
  app/Http/Controllers/Locations/RentalContractController.php
  app/Http/Controllers/Locations/RentalInspectionController.php
  app/Http/Controllers/Locations/RentalStatusController.php
  app/Http/Requests/Locations/StoreRentalContractRequest.php
  app/Http/Requests/Locations/UpdateRentalContractRequest.php
  app/Http/Requests/Locations/UpdateRentalStatusRequest.php
  app/Jobs/Locations/DailyRentalImputationJob.php
  app/Models/Locations/RentalAssignment.php
  app/Models/Locations/RentalContract.php
  app/Notifications/Locations/RentalContractEndingSoonNotification.php
  app/Observers/Locations/RentalContractObserver.php
  app/Services/Locations/RentalCalculationService.php
  app/Services/Locations/RentalWorkflowService.php
  database/migrations/2026_02_21_145400_edit_field_location_module.php
  database/migrations/2026_02_21_145648_create_rental_assignments_table.php
  tests/Feature/Locations/RentalTest.php
Due: locations

feat(intervention): ajouter rapport, signature et details couts (#44)
  .github/ameliorations/intervention.md
  app/Models/Intervention/Intervention.php
  database/factories/Intervention/InterventionFactory.php
  database/migrations/2026_02_21_172321_add_field_intervention_module.php
Due: intervention

feat(intervention): Améliorer la gestion et la clôture des interventions (#44)
  app/Services/Intervention/InterventionFinancialService.php
  app/Services/Intervention/InterventionStockManager.php
  app/Services/Intervention/InterventionWorkflowService.php
  database/migrations/2026_02_21_172321_add_field_intervention_module.php
Due: intervention

feat: Ajouter des rappels et notifications pour les interventions (#44)
  app/Jobs/Intervention/ReminderPlannedInterventionJob.php
  app/Notifications/Intervention/InterventionCompletedNotification.php
  app/Notifications/Intervention/TechnicianScheduleReminderNotification.php
  app/Observers/Intervention/InterventionObserver.php
  app/Providers/InterventionServiceProvider.php
  bootstrap/providers.php
Due: intervention

feat(intervention): Gérer la clôture avancée et le statut (#44)
  app/Http/Controllers/Intervention/InterventionController.php
  app/Http/Controllers/Intervention/InterventionItemController.php
  app/Http/Requests/Intervention/CompleteInterventionRequest.php
  app/Http/Requests/Intervention/StoreInterventionItemRequest.php
  app/Http/Requests/Intervention/StoreInterventionRequest.php
  app/Http/Requests/Intervention/UpdateInterventionStatusRequest.php
  routes/api/intervention.php
Due: intervention

feat(intervention): Améliorer le workflow et les champs de suivi (#44)
  app/Http/Controllers/Intervention/InterventionController.php
  app/Services/Intervention/InterventionWorkflowService.php
  database/migrations/2026_02_21_172321_add_field_intervention_module.php
  tests/Feature/Intervention/InterventionTest.php
Due: intervention

chore: Linter
  app/Http/Controllers/Intervention/InterventionController.php
  app/Http/Requests/Intervention/CompleteInterventionRequest.php
  app/Http/Requests/Intervention/StoreInterventionRequest.php
  app/Http/Requests/Intervention/UpdateInterventionStatusRequest.php
  app/Models/Intervention/Intervention.php
  app/Notifications/Intervention/InterventionCompletedNotification.php
  app/Notifications/Intervention/TechnicianScheduleReminderNotification.php
  app/Observers/Intervention/InterventionObserver.php
  app/Providers/InterventionServiceProvider.php
  app/Services/Intervention/InterventionWorkflowService.php
  database/factories/Intervention/InterventionFactory.php
  database/migrations/2026_02_21_172321_add_field_intervention_module.php
  tests/Feature/Intervention/InterventionTest.php
Due: intervention

feat(intervention): ajoute un test de clôture complet
  tests/Feature/Intervention/InterventionTest.php
Due: intervention

chore: Linter
  tests/Feature/Intervention/InterventionTest.php
Due: intervention

feat(tiers-equipement): Ajouter la gestion des équipements clients (#44)
  .github/ameliorations/intervention.md
  app/Models/Tiers/TierEquipement.php
  database/factories/Tier/TierEquipementFactory.php
  database/migrations/2026_02_22_150747_create_tier_equipements_table.php
  database/migrations/2026_02_22_150930_add_field_intervention_module.php
Due: tiers

feat(statut-intervention): Ajouter et affiner les statuts d'intervention (#44)
  app/Enums/Intervention/InterventionStatus.php
  lang/fr/intervention.php
Due: intervention

feat(intervention): Améliorer le workflow et les rapports d'intervention (#44)
  app/Models/Intervention/Intervention.php
  app/Services/Core/DocumentManagementService.php
  app/Services/Intervention/InterventionReportService.php
  app/Services/Intervention/InterventionWorkflowService.php
Due: core, intervention

feat(intervention): Mails de rapport signé et rafraîchissement valorisation (#44)
  app/Mail/Intervention/ReportSignedMail.php
  app/Observers/Intervention/InterventionObserver.php
  resources/views/emails/intervention/report-signed.blade.php
Due: intervention

refactor(intervention): Améliore la gestion du cycle de vie et la couverture de tests (#44)
  app/Http/Controllers/Intervention/InterventionController.php
  app/Http/Requests/Intervention/CompleteInterventionRequest.php
  app/Http/Requests/Intervention/StoreInterventionItemRequest.php
  app/Http/Requests/Intervention/StoreInterventionRequest.php
  routes/api/intervention.php
  tests/Feature/Intervention/InterventionTest.php
Due: intervention

chore: Linter
  app/Http/Controllers/Intervention/InterventionController.php
  app/Models/Tiers/TierEquipement.php
  app/Observers/Intervention/InterventionObserver.php
  app/Services/Intervention/InterventionReportService.php
  app/Services/Intervention/InterventionWorkflowService.php
  database/migrations/2026_02_22_150747_create_tier_equipements_table.php
  database/migrations/2026_02_22_150930_add_field_intervention_module.php
  tests/Feature/Intervention/InterventionTest.php
Due: intervention, tiers

feat(intervention): Ajout des transitions de statut d'intervention
  app/Http/Controllers/Intervention/InterventionController.php
  routes/api/intervention.php
  tests/Feature/Intervention/InterventionTest.php
Due: intervention

chore: Linter
  app/Http/Controllers/Intervention/InterventionController.php
  tests/Feature/Intervention/InterventionTest.php
Due: intervention

feat(intervention-report): Activer l'envoi des rapports d'intervention par e-mail
  app/Services/Intervention/InterventionReportService.php
Due: intervention

feat(frais): Ajouter l'imputation par phase et gestion IK (#40)
  .github/ameliorations/expense.md
  app/Models/Expense/ExpenseItem.php
  database/factories/Expense/ExpenseItemFactory.php
  database/migrations/2026_02_22_171624_add_field_expense_module.php
Due: expense

feat(expense): Améliore l'imputation et l'analyse des dépenses (#40)
  app/Services/Expense/ChantierImputationService.php
  app/Services/Expense/ExpenseAnalyticService.php
  app/Services/Expense/ExpenseCalculationService.php
  database/migrations/2026_02_22_171624_add_field_expense_module.php
Due: expense

feat(expense): Amélioration de la gestion des notes de frais (#40)
  app/Models/Expense/ExpenseReport.php
  app/Observers/Expense/ExpenseItemObserver.php
  app/Observers/Expense/ExpenseReportObserver.php
  app/Providers/ExpenseServiceProvider.php
Due: expense

feat(depenses): Améliore la gestion et le workflow des notes de frais (#40)
  app/Http/Controllers/Expense/ExpenseApprovalController.php
  app/Http/Controllers/Expense/ExpenseItemController.php
  app/Http/Controllers/Expense/ExpenseReportController.php
  app/Http/Requests/Expense/StoreExpenseItemRequest.php
  app/Http/Requests/Expense/UpdateExpenseStatusRequest.php
  app/Models/User.php
  app/Observers/Expense/ExpenseItemObserver.php
  app/Observers/Expense/ExpenseReportObserver.php
  routes/api/expense.php
Due: core, expense

feat(depense): Amélioration gestion et calcul des dépenses (#40)
  app/Http/Requests/Expense/UpdateExpenseStatusRequest.php
  routes/api/expense.php
  tests/Feature/Expense/ExpenseWorkflowTest.php
  tests/Unit/Expense/ExpenseCalculationTest.php
Due: expense

chore: Linter
  tests/Feature/Expense/ExpenseWorkflowTest.php
  tests/Unit/Expense/ExpenseCalculationTest.php
Due: expense

feat(dépense): Ajouter la vérification d'autorisation de mise à jour du statut
  app/Http/Requests/Expense/UpdateExpenseStatusRequest.php
Due: expense

feat(expense): Implémenter bareme kilométrique détaillé
  .github/ameliorations/expense.md
  app/Models/Expense/ExpenseMileageScale.php
  database/factories/Expense/ExpenseMileageScaleFactory.php
  database/migrations/2026_02_23_174450_add_field_expense_module.php
Due: expense

feat(expense): Introduit le calcul des IK par paliers URSSAF
  app/Services/Expense/ExpenseCalculationService.php
  app/Services/Expense/MileageCalculatorService.php
Due: expense

refactor(expense): Adapte l'appel au service de calcul IK
  app/Observers/Expense/ExpenseItemObserver.php
Due: expense

feat(expense): Renforce la validation et raffine la gestion des frais
  app/Http/Controllers/Expense/ExpenseApprovalController.php
  app/Http/Controllers/Expense/ExpenseItemController.php
  app/Http/Controllers/Expense/ExpenseReportController.php
  app/Http/Requests/Expense/ExpenseReportRequest.php
  app/Http/Requests/Expense/StoreExpenseItemRequest.php
  app/Http/Requests/Expense/UpdateExpenseStatusRequest.php
Due: expense

feat(expense): Amélioration du calcul et validations des rapports
  tests/Feature/Expense/ExpenseWorkflowTest.php
  tests/Unit/Expense/ExpenseCalculationTest.php
Due: expense

chore: Linter
  app/Http/Controllers/Expense/ExpenseItemController.php
  app/Http/Controllers/Expense/ExpenseReportController.php
  app/Http/Requests/Expense/ExpenseReportRequest.php
  app/Http/Requests/Expense/StoreExpenseItemRequest.php
  app/Http/Requests/Expense/UpdateExpenseStatusRequest.php
  app/Services/Expense/ExpenseCalculationService.php
  app/Services/Expense/MileageCalculatorService.php
  database/factories/Expense/ExpenseMileageScaleFactory.php
  database/migrations/2026_02_23_174450_add_field_expense_module.php
  lang/en/actions.php
  lang/en/auth.php
  lang/en/http-statuses.php
  lang/en/pagination.php
  lang/en/passwords.php
  lang/en/validation.php
  lang/fr/actions.php
  lang/fr/auth.php
  lang/fr/http-statuses.php
  lang/fr/pagination.php
  lang/fr/passwords.php
  lang/fr/validation.php
  tests/Feature/Expense/ExpenseWorkflowTest.php
  tests/Unit/Expense/ExpenseCalculationTest.php
Due: expense

docs(expense): Marquer les recommandations de frais comme réalisées
  .github/ameliorations/expense.md
Due: none

docs: Ajouter des recommandations pour le module de paie BTP
  .github/ameliorations/payroll.md
Due: none

feat: Ajouter la gestion des barèmes de paie et des données employés (42)
  app/Enums/Payroll/BtpTravelZone.php
  app/Enums/Payroll/PayrollScaleCategory.php
  app/Enums/Payroll/PayrollScaleType.php
  app/Models/HR/Employee.php
  app/Models/Payroll/PayrollScale.php
  app/Models/Payroll/PayslipLine.php
  database/factories/Payroll/PayrollScaleFactory.php
  database/migrations/2026_02_23_210009_create_payroll_scales_table.php
  database/migrations/2026_02_23_210327_add_field_payroll_module.php
Due: hr, payroll

feat(payroll): Amélioration du moteur de paie et imputation des coûts (#42)
  app/Http/Controllers/Payroll/PayrollPeriodController.php
  app/Models/HR/Employee.php
  app/Services/Payroll/PayrollAggregationService.php
  app/Services/Payroll/PayrollCalculationService.php
  app/Services/Payroll/PayrollImputationService.php
  app/Services/Payroll/PayrollScaleService.php
Due: hr, payroll

feat(paie): Implémentation du module de gestion de paie (42)
  app/Console/Commands/Payroll/GeneratePayrollPeriodCommand.php
  app/Console/Commands/Payroll/NotifyEmployeeSubmitTimesheetCommand.php
  app/Console/Commands/Payroll/RemindPendingTimesheetsCommand.php
  app/Jobs/Payroll/VerifyPayrollAnomaliesJob.php
  app/Models/Payroll/PayslipLine.php
  app/Notifications/Payroll/PayrollAnomaliesNotification.php
  app/Notifications/Payroll/PayrollPeriodCreatedNotification.php
  app/Notifications/Payroll/PendingPayrollApprovalsNotification.php
  app/Notifications/Payroll/SubmitTimesheetNotification.php
  app/Observers/HR/AbsenceRequestObserver.php
  app/Observers/HR/TimeEntryObserver.php
  app/Observers/Payroll/PayrollPeriodObserver.php
  app/Observers/Payroll/PayslipLineObserver.php
  app/Providers/PayrollServiceProvider.php
  app/Traits/PayrollLockObserverTrait.php
  bootstrap/providers.php
Due: hr, payroll

Path conditions:
  core: any of: app/Console/Commands/Core/, app/Enums/Core/, app/Exceptions/Core/, app/Http/Controllers/Core/, app/Http/Middleware/Core/, app/Http/Requests/Core/, app/Jobs/Core/, app/Mail/Core/, app/Models/Core/, app/Models/User.php, app/Notifications/Core/, app/Observers/Core/, app/Providers/CoreServiceProvider.php, app/Providers/AppServiceProvider.php, app/Rules/Core/, app/Services/Core/, app/Traits/HasTenant.php, database/factories/Core/, lang/fr/core.php, routes/api/api.php, tests/Unit/Core/, tests/Feature/Core/
  accounting: any of: app/Console/Commands/Accounting/, app/Enums/Accounting/, app/Exceptions/Accounting/, app/Http/Controllers/Accounting/, app/Http/Middleware/Accounting/, app/Http/Requests/Accounting/, app/Jobs/Accounting/, app/Mail/Accounting/, app/Models/Accounting/, app/Notifications/Accounting/, app/Observers/Accounting/, app/Providers/AccountingServiceProvider.php, app/Rules/Accounting/, app/Services/Accounting/, database/factories/Accounting/, lang/fr/accounting.php, routes/api/accounting.php, tests/Unit/Accounting/, tests/Feature/Accounting/
  articles: any of: app/Console/Commands/Articles/, app/Enums/Articles/, app/Exceptions/Articles/, app/Http/Controllers/Articles/, app/Http/Middleware/Articles/, app/Http/Requests/Articles/, app/Jobs/Articles/, app/Mail/Articles/, app/Models/Articles/, app/Notifications/Articles/, app/Observers/Articles/, app/Providers/ArticlesServiceProvider.php, app/Rules/Articles/, app/Services/Articles/, database/factories/Articles/, lang/fr/articles.php, routes/api/articles.php, tests/Unit/Articles/, tests/Feature/Articles/
  banque: any of: app/Console/Commands/Banque/, app/Enums/Banque/, app/Exceptions/Banque/, app/Http/Controllers/Banque/, app/Http/Middleware/Banque/, app/Http/Requests/Banque/, app/Jobs/Banque/, app/Mail/Banque/, app/Models/Banque/, app/Notifications/Banque/, app/Observers/Banque/, app/Providers/BankServiceProvider.php, app/Rules/Banque/, app/Services/Banque/, database/factories/Banque/, lang/fr/banque.php, routes/api/banque.php, tests/Unit/Banque/, tests/Feature/Banque/
  bim: any of: app/Console/Commands/BIM/, app/Enums/BIM/, app/Exceptions/BIM/, app/Http/Controllers/BIM/, app/Http/Middleware/BIM/, app/Http/Requests/BIM/, app/Jobs/BIM/, app/Mail/BIM/, app/Models/BIM/, app/Notifications/BIM/, app/Observers/BIM/, app/Providers/BIMServiceProvider.php, app/Rules/BIM/, app/Services/BIM/, database/factories/BIM/, lang/fr/bim.php, routes/api/bim.php, tests/Unit/BIM/, tests/Feature/BIM/
  commerce: any of: app/Console/Commands/Commerce/, app/Enums/Commerce/, app/Exceptions/Commerce/, app/Http/Controllers/Commerce/, app/Http/Middleware/Commerce/, app/Http/Requests/Commerce/, app/Jobs/Commerce/, app/Mail/Commerce/, app/Models/Commerce/, app/Notifications/Commerce/, app/Observers/Commerce/, app/Providers/CommerceServiceProvider.php, app/Rules/Commerce/, app/Services/Commerce/, database/factories/Commerce/, lang/fr/commerce.php, routes/api/commerce.php, tests/Unit/Commerce/, tests/Feature/Commerce/
  expense: any of: app/Console/Commands/Expense/, app/Enums/Expense/, app/Exceptions/Expense/, app/Http/Controllers/Expense/, app/Http/Middleware/Expense/, app/Http/Requests/Expense/, app/Jobs/Expense/, app/Mail/Expense/, app/Models/Expense/, app/Notifications/Expense/, app/Observers/Expense/, app/Providers/ExpenseServiceProvider.php, app/Rules/Expense/, app/Services/Expense/, database/factories/Expense/, lang/fr/expense.php, routes/api/expense.php, tests/Unit/Expense/, tests/Feature/Expense/
  fleet: any of: app/Console/Commands/Fleet/, app/Enums/Fleet/, app/Exceptions/Fleet/, app/Http/Controllers/Fleet/, app/Http/Middleware/Fleet/, app/Http/Requests/Fleet/, app/Jobs/Fleet/, app/Mail/Fleet/, app/Models/Fleet/, app/Notifications/Fleet/, app/Observers/Fleet/, app/Providers/FleetServiceProvider.php, app/Rules/Fleet/, app/Services/Fleet/, database/factories/Fleet/, lang/fr/fleet.php, routes/api/fleet.php, tests/Unit/Fleet/, tests/Feature/Fleet/
  ged: any of: app/Console/Commands/GED/, app/Enums/GED/, app/Exceptions/GED/, app/Http/Controllers/GED/, app/Http/Middleware/GED/, app/Http/Requests/GED/, app/Jobs/GED/, app/Mail/GED/, app/Models/GED/, app/Notifications/GED/, app/Observers/GED/, app/Providers/GEDServiceProvider.php, app/Rules/GED/, app/Services/GED/, database/factories/GED/, lang/fr/ged.php, routes/api/ged.php, tests/Unit/GED/, tests/Feature/GED/
  gpao: any of: app/Console/Commands/GPAO/, app/Enums/GPAO/, app/Exceptions/GPAO/, app/Http/Controllers/GPAO/, app/Http/Middleware/GPAO/, app/Http/Requests/GPAO/, app/Jobs/GPAO/, app/Mail/GPAO/, app/Models/GPAO/, app/Notifications/GPAO/, app/Observers/GPAO/, app/Providers/GPAOServiceProvider.php, app/Rules/GPAO/, app/Services/GPAO/, database/factories/GPAO/, lang/fr/gpao.php, routes/api/gpao.php, tests/Unit/GPAO/, tests/Feature/GPAO/
  hr: any of: app/Console/Commands/HR/, app/Enums/HR/, app/Exceptions/HR/, app/Http/Controllers/HR/, app/Http/Middleware/HR/, app/Http/Requests/HR/, app/Jobs/HR/, app/Mail/HR/, app/Models/HR/, app/Notifications/HR/, app/Observers/HR/, app/Providers/HumanResourceServiceProvider.php, app/Rules/HR/, app/Services/HR/, database/factories/HR/, lang/fr/hr.php, routes/api/hr.php, tests/Unit/HR/, tests/Feature/HR/
  intervention: any of: app/Console/Commands/Intervention/, app/Enums/Intervention/, app/Exceptions/Intervention/, app/Http/Controllers/Intervention/, app/Http/Middleware/Intervention/, app/Http/Requests/Intervention/, app/Jobs/Intervention/, app/Mail/Intervention/, app/Models/Intervention/, app/Notifications/Intervention/, app/Observers/Intervention/, app/Providers/InterventionServiceProvider.php, app/Rules/Intervention/, app/Services/Intervention/, database/factories/Intervention/, lang/fr/intervention.php, routes/api/intervention.php, tests/Unit/Intervention/, tests/Feature/Intervention/
  locations: any of: app/Console/Commands/Locations/, app/Enums/Locations/, app/Exceptions/Locations/, app/Http/Controllers/Locations/, app/Http/Middleware/Locations/, app/Http/Requests/Locations/, app/Jobs/Locations/, app/Mail/Locations/, app/Models/Locations/, app/Notifications/Locations/, app/Observers/Locations/, app/Providers/AccountingServiceProvider.php, app/Rules/Locations/, app/Services/Locations/, database/factories/Locations/, lang/fr/locations.php, routes/api/locations.php, tests/Unit/Locations/, tests/Feature/Locations/
  payroll: any of: app/Console/Commands/Payroll/, app/Enums/Payroll/, app/Exceptions/Payroll/, app/Http/Controllers/Payroll/, app/Http/Middleware/Payroll/, app/Http/Requests/Payroll/, app/Jobs/Payroll/, app/Mail/Payroll/, app/Models/Payroll/, app/Notifications/Payroll/, app/Observers/Payroll/, app/Providers/PayrollServiceProvider.php, app/Rules/Payroll/, app/Services/Payroll/, database/factories/Payroll/, lang/fr/payroll.php, routes/api/payroll.php, tests/Unit/Payroll/, tests/Feature/Payroll/
  pilotage: any of: app/Console/Commands/Pilotage/, app/Enums/Pilotage/, app/Exceptions/Pilotage/, app/Http/Controllers/Pilotage/, app/Http/Middleware/Pilotage/, app/Http/Requests/Pilotage/, app/Jobs/Pilotage/, app/Mail/Pilotage/, app/Models/Pilotage/, app/Notifications/Pilotage/, app/Observers/Pilotage/, app/Providers/PilotageServiceProvider.php, app/Rules/Pilotage/, app/Services/Pilotage/, database/factories/Pilotage/, lang/fr/pilotage.php, routes/api/pilotage.php, tests/Unit/Pilotage/, tests/Feature/Pilotage/
  tiers: any of: app/Console/Commands/Tiers/, app/Enums/Tiers/, app/Exceptions/Tiers/, app/Http/Controllers/Tiers/, app/Http/Middleware/Tiers/, app/Http/Requests/Tiers/, app/Jobs/Tiers/, app/Mail/Tiers/, app/Models/Tiers/, app/Notifications/Tiers/, app/Observers/Tiers/, app/Providers/TiersServiceProvider.php, app/Rules/Tiers/, app/Services/Tiers/, database/factories/Tiers/, lang/fr/tiers.php, routes/api/tiers.php, tests/Unit/Tiers/, tests/Feature/Tiers/
